@use "../../../styles/colors";

._{
    width: 100%;
    height: 100%;
    padding: 15px;
}

._status--default{
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100%;   
    color:rgb(17, 22, 76);        
} 
._status--start{ 
    color:rgb(17, 22, 76); 
} 
 
._status--runtest{
    color:rgb(17, 22, 76);
}

._status--transfer{
    color:rgb(17, 22, 76);
}

._status--stop{
    color:rgb(17, 22, 76);
}

._status--error{
    color:red;
}

._tests_list{
    color:rgb(17, 22, 76);
}

._tests_item_li{
    width: 100%;
    background: rgb(197 212 239);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

._result-marker {
    display: inline-block;
    margin:2px;
    width: 13px;
    height: 13px;
    border-radius: 0.125rem;
    
}

._color-default{
    background-color: colors.$marker-default;
}
._color-true{
    background-color: colors.$marker-true;
}
._color-false{
    background-color: colors.$marker-false;
}

._color-timeaut{
    background-color: colors.$marker-timeaut;
}