@use "../../../styles/colors";

._container{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px; 
    
    transition: background-color 0.2s ease-in-out;
}

._container--resolved{
    background-color: colors.$marker-true;
}
._container--notresolved{
    background-color: colors.$marker-default;
    
}
._container--inprogress{
    background-color: colors.$marker-false;
}
/*._container--notresolved {
    > ._container_title{
        color:rgb(103, 101, 101);
        font-weight: bold;
    }
}*/
._container_title{
    color:white;
    font-weight: bold;
}